@import url('https://fonts.googleapis.com/css?family=Handlee|Montserrat');
.App {
  text-align: center;
  font-family: Handlee;
  font-size: 40px;
  color: white;
  vertical-align: top;
  margin: 0;
  background-repeat: no-repeat;
  background-origin:
}




.App-header {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  font-size: calc(70px + 2vmin);
  color: white;
  display: inline-block;
}

.subtitle{
  font-family: Montserrat;
  font-size: calc(10px + 2vmin);
  font-weight: bold;

}
